@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');
$fonts-headline: "Lora", serif;
$fonts-body: lato, arial, sans-serif;
$background-color: #f2f2f2;;
$primary: #000000;
$accent1: #b5b5b5;
$accent2: rgba(51, 55, 69, 0.9);
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
